<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" #firstName />
        <!--error codes  start-->
        <div *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)"
            class="alert alert-danger">
            <div *ngIf="registerForm.controls['firstName'].errors.required">
                FirstName is required.
            </div>
        </div>
        <!-- error codes ends -->
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" #lastName />
        <!-- error codes start-->
        <div *ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)"
            class="alert alert-danger">
            <div *ngIf="registerForm.controls['lastName'].errors.required">
                Last name is required.
            </div>
        </div>
        <!-- error codes ends -->
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" #username />
        <!--error codes  start-->
        <div *ngIf="registerForm.controls['username'].invalid && (registerForm.controls['username'].dirty || registerForm.controls['username'].touched)"
            class="alert alert-danger">
            <div *ngIf="registerForm.controls['username'].errors.required">
                User name is required.
            </div>
        </div>
        <!-- error codes ends -->
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" #password/>
        <!--error codes  start-->
        <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
            class="alert alert-danger">
            <div *ngIf="registerForm.controls['password'].errors.required">
                password is required.
            </div>
        </div>
        <!-- error codes ends -->
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>